    p.three {position: absolute;
    top: 3px;
    left: 10px;
    color: rgb(0, 0, 0);
    font-size: xx-large;

}

div.gray {
    height:15px;
    width: 750px ;
    position: absolute;
    top: 45px; 
    left: 280px;
    background-color: rgb(224, 37, 37);
    padding: 10;
    border-radius: 10px;
    
    
    
}

div.red2 {
    width: 1496px;
    height: 40px; ;
    position: absolute;
    top: 100px;
    left: -1px; ;
    background-color: rgb(224, 37, 37);
}

span.material-symbols-outlined {
    position: relative;
    top: -3px;
    left: 730px;
    color: rgb(0, 0, 0);
}

input.search-input {
    height: 40px;
    width: 850px ;
    position: absolute;
    top: -4px; 
    left: 0px;
    background-color: rgb(224, 37, 37);
    padding: 10;
    border-radius: 10px;
    color: black;

}

::placeholder {
    color: black;
    font-size: large;
    position: absolute;
    top: 10px;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%; 
    height: 50px;  
    background-color: rgb(224, 37, 37);
}

ul {
    margin-left: 40px;
}

ul li { 
    list-style: none;
    display: inline-block;
    /* float: left; */
    line-height: 50px;
}

ul li a {
    text-decoration: none;
    font-size: 25px;
    font-family: arial;
    color: black;
    padding: 0 20px;
}

ul li a:hover { 
    color: rgb(255, 255, 255);
}

div.gray2 {
    width: 1496px ;
    height: 573px;
    position: absolute;
    top: 150px; 
    left: -1px;
    background-color: rgb(19, 19, 19);
}

img.la-roja {
    position: absolute;
    top:40px ;
    left:10px ;
    
    height: 40px;
    width:50 px;
}

h1{
position: absolute;
left:50%;
top: 50%;
color: rgb(224, 37, 37);
}